{% extends "index.html" %}

{% block navbar %}
{% endblock %}
{% block title %} Error 500 {% endblock %}

{% block content %}
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold">500</h1>
                <p class="fs-3"> <span class="text-danger">Opps!</span> Somthing went wrong.</p>
                <p class="lead">
                    Try to refresh this page or feel free to contact us if the problem persists.
                  </p>
                <a href="/" class="btn btn-primary">Go Home</a>
            </div>
        </div>

{% endblock%}