{% extends "index.html" %} {% from 'bootstrap5/form.html' import render_form%}
{% block user_content %}

<div class="container">
  <div class="page-header">
    <h2>Hi, {{ name }}</h2>
  </div>
  {{ render_form(form)}}
</div>



{% endblock%}
